$brand-Black: #141416;
$container-Bg: #f3f3f3;

.container1 {
  width: 90vw;
  height: 110vh;
  margin: 0 auto;
  background-color: $container-Bg;
  border-left: 2px solid $brand-Black;
  border-right: 2px solid $brand-Black;
  border-bottom: 1px solid $brand-Black;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .colContainer1 {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-right: 1px solid $brand-Black;
    position: relative;

    h3 {
      position: absolute;
      top: 50%;
      left: 10;
      font-weight: 500;
      transform: translate(-10%, -50%) rotateZ(270deg);
      -webkit-transform: translate(-10%, -50%) rotateZ(270deg);
      -moz-transform: translate(-10%, -50%) rotateZ(270deg);
      -ms-transform: translate(-10%, -50%) rotateZ(270deg);
      -o-transform: translate(-10%, -50%) rotateZ(270deg);
    }

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: "Silk Serif", Fallback, "Open Sans";
      font-size: 7.5rem;
      transform: translate(-50%, -50%) rotateZ(270deg);
      -webkit-transform: translate(-50%, -50%) rotateZ(270deg);
      -moz-transform: translate(-50%, -50%) rotateZ(270deg);
      -ms-transform: translate(-50%, -50%) rotateZ(270deg);
      -o-transform: translate(-50%, -50%) rotateZ(270deg);
    }
  }

  .colContainer2 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-left: 1px solid $brand-Black;
    padding: 1rem;
    gap: 1.5rem;

    &::-webkit-scrollbar {
      background-color: #14141681;
      width: 20px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #141416;
      border: 4px solid $container-Bg;
      border-radius: 9px;
      background-clip: content-box;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      -ms-border-radius: 9px;
      -o-border-radius: 9px;
    }

    &::-webkit-scrollbar-track {
      border-left: 9px solid $container-Bg;
      border-right: 9px solid $container-Bg;
    }

    .card {
      width: 95%;
      margin: 0 auto;
      border: 2px solid $brand-Black;
      padding: 0.75rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .cardTopSection {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;
          padding: 0.3rem 1.5rem;
          border: 2px solid $brand-Black;
          border-radius: 1.5rem;
          -webkit-border-radius: 1.5rem;
          -moz-border-radius: 1.5rem;
          -ms-border-radius: 1.5rem;
          -o-border-radius: 1.5rem;
        }

        h4 {
          margin: 0;
        }
      }

      & > h1 {
        margin: 0;
        font-family: "Silk Serif", Fallback, "Open Sans";
      }

      & > h5 {
        margin: 0;
      }
    }
  }
}

.container2 {
  width: 90vw;
  margin: 0 auto 2rem;
  min-height: 110vh;
  background-color: $container-Bg;
  border-top: 1px solid $brand-Black;
  border-right: 2px solid $brand-Black;
  border-bottom: 2px solid $brand-Black;
  border-left: 2px solid $brand-Black;
  display: grid;
  grid-template-columns: 2fr 1fr;

  .colContainer1 {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    h2 {
      font-weight: 700;
    }

    div {
      width: 100%;
      border: 2px solid $brand-Black;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      padding: 1.5rem;

      input {
        border: none;
        outline: none;
        width: 100%;
        background: inherit;
        font-family: "Silk Serif", Fallback, "Open Sans";
        font-size: 2.5rem;
        font-weight: 600;
      }

      textarea {
        width: 100%;
        border: none;
        outline: none;
        background: inherit;
        font-size: 1rem;
        font-family: "Aeonik", Fallback, "Open Sans";
        font-weight: 400;
        resize: vertical;
      }
    }

    .submitBtn {
      background-color: $brand-Black;
      color: $container-Bg;
      font-size: 1rem;
      font-family: "Aeonik", Fallback, "Open Sans";
      padding: 0.7rem 3rem;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;

      &:disabled {
        opacity: 0.7;
      }
    }
  }
  .colContainer2 {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
