$brand-Black: #141416;
$container-Bg: #f3f3f3;

.container {
  width: 90%;

  h1 {
    font-family: "Silk Serif", Fallback, "Open Sans";
    font-weight: 600;
  }

  .itemContainer {
    width: 100%;
    height: 100%;
    border: 1px solid $brand-Black;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    .itemHeader {
      padding: 1rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $brand-Black;
      h5 {
        flex: 0.43;
        margin: 0;

        &:last-child {
          flex: 0.14;
        }
      }
    }

    .items {
      padding: 1rem;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid $brand-Black;
      }

      h5 {
        flex: 0.43;
        margin: 0;
      }

      a {
        flex: 0.14;
        font-size: 1rem;
        text-align: center;
        background-color: $brand-Black;
        color: $container-Bg;
      }
    }
  }
}
